# provider configuration
aws_region = "us-east-1"
access_key = "<YOUR_AWS_ACCESS_KEY>"
secret_key = "<YOUR_AWS_SECRET_KEY>"

# EC2 instance configuration
instance_type               = "t3.medium"
environment                 = "dev"
associate_public_ip_address = false
vpc_id                      = "<YOUR_VPC_ID>"
subnet_id                   = "<YOUR_SUBNET_ID>"

# Jenkins configuration
init_admin_user     = "<YOUR_ADMIN_USER>"
init_admin_password = "<YOUR_ADMIN_PASSWORD>"
jenkins_job_name    = "demo-job"
github_repo_url     = "https://github.com/nova-iris/devops-day-demo.git"
github_branch       = "main"
